<h1>注文情報入力</h1>
<%= form_for [:end_users, @order] do |f| %>
<h2>支払方法</h2>
<%= f.radio_button :payment, :クレジットカード, checked: true %>
<%= f.label :クレジットカード %>
<%= f.radio_button :payment, :銀行振込 %>
<%= f.label :銀行振込 %>

<h2>お届け先</h2>
<%= radio_button_tag("_add", "EndUser", [checked: true]) %><label>ご自身の住所</label>

<%= radio_button_tag("_add", "ShipAddress") %><label>登録済住所から選択</label>

<%= radio_button_tag("_add", "New") %><label>新しいお届け先</label>
<%= render 'end_users/shared/address_form', f: f %>
<div class="field">
  <%= f.label :宛名, class: "address_name" %>
  <%= f.text_field :address_name, autofocus: true, autocomplete: "address_name" %>
</div>
<%= f.submit "確認画面に進む", class: "btn btn-primary" %>

<% end %>