<div class="field">
  <%= f.label :名前, class: "name" %>
  <label class="last_name">(姓)</label> <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  <label class="first_name">(名)</label> <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
</div>

<div class="field">
  <%= f.label :カナ, class: "name" %>
  <label class="last_name_kana">(セイ)</label> <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
  <label class="first_name_kana">(メイ)</label> <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
</div>

<div class="field">
  <%= f.label :メールアドレス, class: "email" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<%= render 'end_users/shared/address_form', f: f %>

<div class="field">
  <%= f.label :電話番号（ハイフンなし）, class: "phone_number" %>
  <%= f.phone_field :phone_number, autofocus: true, autocomplete: "phone_number"%>
</div>