<div class="row">
  <div class="menbers-title">
    <h1>会員一覧画面</h1>
  </div>
  <div class="menbers-box">
    <%= paginate @end_users %>
    <table class='table'>
      <thead>

        <tr class="active">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>

      </thead>
      <tbody>
        <% @end_users.each do |end_user| %>
        <tr>
          <td><%= end_user.id %></td>
          <td><%= link_to admins_end_user_path(end_user.id) do %>
              <%= end_user.last_name %> <%= end_user.first_name %><% end %></td>
          <td><%= end_user.email %></td>
          <td><%= end_user.is_deleted %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @end_users %>
  </div>
</div>