<div class="row">
  <%= render 'end_users/products/genre_search'%>

  <div class="col-xs-9">
    <h2><strong>商品一覧</strong><small>(全<%=@products2.count%>件)</small></h2>
    <% @products.each do |product|%>
    <div class="col-xs-offset-1">
      <div class="col-xs-3">
        <div><%= attachment_image_tag(product, :image,:fill, 50,50, fallback:"no_image.png", size:'150x150')%></div>
        <strong><%=product.name%><br>¥<%=product.tax_excluded_price%></strong>
      </div>
    </div>
    <% end %>
    <%= paginate @products%>
  </div>


  <div class="col-xs-9 col-xs-offset-3">
    <h2><strong><%=@genre.name%>一覧</strong><small>(全<%=@products.count%>件)</small></h2>
    <% @products.each do |product|%>
    <div class="col-xs-offset-1">
      <div class="col-xs-3">
        <div><%= attachment_image_tag(product, :image,:fill, 50,50, fallback:"no_image.png", size:'150x150')%></div>
        <strong><%=product.name%><br>¥<%=product.tax_excluded_price%></strong>
        <strong><%=product.name%></strong>
      </div>
    </div>
    <%end%>
    <%= paginate @products%>
  </div>
</div>