<div class="row">
  <%= render 'end_users/products/genre_search'%>
  <div class="col-xs-9">
    <h2><strong>商品一覧</strong>
      <small>(全<%=@products2.count%>件)</small>
    </h2>
    <% @products.each do |product|%>
      <%if product.genre.is_disabled == "有効" %>
        <div class="col-xs-3">
         <div>
          <%=link_to end_users_product_path(product) do%>
            <%= attachment_image_tag(product, :image,:fill, 100,100, fallback:"no_image.png",style: "width:100%;" )%>
          <% end %>
        </div>
        <strong><%=product.name%><br>¥<%=product.tax_excluded_price.to_s(:delimited)%></strong>
      </div>
      <%end%>
    <% end %>
    <div style="text-align: center;"><%= paginate @products%></div>
  </div>
</div>