<div class="container" style="padding-top: 10px;">
  <div class="row">
    <div class="col-xs-14">
      <%= render 'end_users/products/genre_search'%>

      <div class="col-xs-3 col-xs-offset-1">
        <%= attachment_image_tag(@product, :image,:fill, 50,50, fallback:"no_image.png", style: "width:160%; height:250px;")%>
      </div>
      <div class="col-xs3 col-xs-offset-9">
        <h1><strong><%=@product.name%></strong></h1>

        <p><%=@product.introduction%></p>
        <h2><strong>¥<%=(@product.tax_excluded_price * 1.10).floor.to_s(:delimited)%></strong><small>（税込）</small></h2>
      </div>
      <div class="col-xs-3 col-xs-offset-9">
        <%=form_for([:end_users, @cart_item]) do |f|%>
        <%=f.hidden_field :product_id, :value => @product.id %>
        <%=f.hidden_field :end_user_id, :value => @current_end_user %>
        <%= f.select :quantity,[['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10]]%>
        <%= f.submit "カートに入れる"%>
      </div>
      <%end%>
      <!-- 個数選択・カートに入れる -->
    </div>
  </div>
</div>