<div class="row">
  <div class="col-xs-12">
    <%= render 'end_users/products/genre_search'%>
    <div class="col-xs-9" style="width:70%; height:100%; background-image:url(<%= asset_path('cake.jpg')%>); background-size:cover; background-position: center; ">
      <div class="text-center" style="font-size: 100%; margin: 15%; background-color: rgba(255,255,255,0.8);">
        <strong>ようこそ、NganoCakeへ！</strong>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない方も商品の閲覧はできますが、</p>
        <p>購入には会員登録が必要になります。</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-9 col-xs-offset-2" . style="font-family: 'SimSun';">
    <h2 class="">　　　オススメ商品</h2>
    <div class="col-xs-offset-1">
    <% @products.each do |product|%>
      <div class="col-xs-3">
        <div>
          <%=link_to end_users_product_path(product) do%>
            <%= attachment_image_tag(product, :image, :fill, 100,100, fallback: "no_image.png", style: "width: 100%;")%>
          <% end %>
        </div>
        <strong><%=product.name%><br>¥<%=product.tax_excluded_price%></strong>
      </div>
    <% end %>
        <div class="col-xs-3 col-xs-offset-11">
          <%=link_to"もっと見る>>", end_users_products_path%>
        </div>
    </div>
  </div>
</div>
