<div class='row'>
  <h1>商品 詳細画面</h1>
</div>
<div class='row'>
  <div class="col-xs-4">
    <div>
      <%= attachment_image_tag @product, :image, :fill, 350, 230, fallback: "no_image.png", size:'350x230', class: 'form-image' %>
    </div>
  </div>
  <div class="col-xs-4 form-group">
    <table class="table">
      <%= form_for [:admins, @product] do |f| %>
      <tr>
        <td><%= f.label :name, "商品名" %></td>
        <td><%= @product.name %></td>
      </tr>
      <tr>
        <td><%= f.label :introduction, "商品説明" %></td>
        <td><%= @product.introduction %></td>
      </tr>
      <tr>
        <td><%= f.label :genre, "ジャンル" %></td>
        <td><%= @product.genre.name %></td>
      </tr>
      <tr>
        <td><%= f.label :tax_excluded_price, "税込価格（税抜価格）" %></td>
        <td><%= (BigDecimal(@product.tax_excluded_price) * BigDecimal("1.1")).floor.to_s(:delimited) %>（<%= @product.tax_excluded_price.to_s(:delimited) %>）円</td>
      </tr>
      <tr>
        <td><%= f.label :is_stopped, "販売ステータス" %></td>
        <td><%= @product.is_stopped %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<div class='row'>
  <div class="col-xs-3 col-xs-offset-9">
    <%= link_to '編集する', edit_admins_product_path(@product.id), class: "btn btn-primary" %>
    <%= link_to '削除する', admins_product_path(@product),  method: :delete, data: { confirm: '本当にこの商品を消しますか？' }, class: "btn btn-danger" %>
  </div>
</div>
