<div class="row">
    <div class="orders-title">
      <h1>注文一覧画面</h1>
    </div>
    <div class="orders-box">
      <%= paginate @orders %>

      <table class='table'>

        <thead>
          <tr class="active">
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td>
              <%= link_to admins_order_path(order) do %>
              <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
              <% end %>
            </td>

            <td>
              <%= order.address_name %>
            </td>
            <td>
              <% total_quantity = 0 %>
              <% order.order_products.each { |item| total_quantity += item.quantity } %>
              <%= total_quantity %>
            </td>

            <td>
              <%= order.status %>
            </td>

          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @orders %>
    </div>
</div>