<div class="container">
<div class="row">
	<div class="col-xs-9">
		<div class="orders-title">
			<h1>注文一覧画面</h1>
		</div>
		<div class="orders-box">
			<%= will_paginate %>
			<table class='table'>

				<thead>
					<tr class="active">
						<th>購入日時</th>
						<th>購入者</th>
						<th>注文個数</th>
						<th>注文ステータス</th>
					</tr>
				</thead>

				<tbody>
					<% @orders.each do |order| %>
						<tr>
							<td><%= link_to order.id, admin_oder_path(end_user.id) %></td>
							<td><%= order.name %></td>
							<td><%= oder.status.coun %></td>
							<td><%= order.status %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= will_paginate %>
		</div>

	</div>
	<div class="col-xs-3"></div>

</div>
</div>

