<div class="container">
	<div class="row">
		<div class="col-xs-7">
			<div class="order-title">
				<h1>注文詳細画面</h1>
			</div>

			<div class="customer-box">
				<% form_for(@order, url: '/admins/orders/id') do |f| %>

				 <label for="name"> 購入者 </label>
				  <% link_to admins_end_user_path(end_user.id) do %>
				   <%= f.last_name %>&nbsp;<%= f.first_name %> <br>
				  <% end %>

				 <label for="ship_addresses"> 配送先 </label>
				  <%= f.address_name %> <br>

				 <label for="payment"> 支払方法 </label>
				  <%= f.payment %>
				  <% if f.payment == 0 %>
					<%= "クレジットカード" %>
				  <% else %>
					<%= "銀行振り込み" %>
				  <%end%> <br>

				 <label for="status"> 注文ステータス </label>
				  <%= f.select :status, [['入金待ち',0], ['入金確認',1], ['製作中',2], ['発送準備中',3], ['発送済み',4]] %>

				  <%= f.submit "更新", class: 'btn btn-primary col-xs-12'%> <br>

				<% end %>
			</div>

			<div class="order-box">
				<table class='table'>

					<thead>
						<tr class="active">
							<th>商品名</th>
							<th>単価 (税込)</th>
							<th>数量</th>
							<th>小計</th>
							<th>制作ステータス</th>
						</tr>
					</thead>

					<tbody>
						<% form_for(@order) do |p| %>
						<tr>
							<td><%= f.name %></td>
							<td><%=  %></td>
							<td><%=  %></td>
							<td><%=  %></td>
							<td><%=  %> <%= p.production_status :status, [['着手不可',0, ['製作待ち',1], ['製作中',2], ['製作完了',3]] %><%= f.submit "更新", class: 'btn btn-primary col-xs-12'%></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>


		<div class="col-xs-2"></div>
		<div class="col-xs-3">
			<div class="price-box">
				<% form_for(@order, url: '/admins/orders/:id') do |price| %>
				<label for="total"> 商品合計 </label> <%= proce.total %>円 <br>
				<label for="postage"> 送料 </label> <%= price.postage %>円 <br>
				<label for=""> 請求金額合計 </label> <%= price.total + proce.postage %>円 <br>
				<% end %>
			</div>
		</div>

	</div>

</div>



