<table class="table table-bordered" id="delete">
		<thead >
			<tr class="active">
				<th>商品名</th>
				<th>単価（税込）</th>
				<th>数量</th>
				<th>小計</th>
				<th></th>
			</tr>
		</thead>
<%	cart_items.each do |item|%>
		<tbody >
			<% @sum = 0 %>
			<tr>
				<td><%= attachment_image_tag(item.product, :image,:fill, 100,100, fallback:"no_image.png", size:'100x50')%>
				<%=item.product.name%></td>
				<td>¥<%= (item.product.tax_excluded_price * 1.10).floor%></td>


			<%=form_for [:end_users, item] do |f|%>
				<td><%= f.select :quantity,[[item.quantity.to_i],
				['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10]]%>個　<%=f.submit"変更"%></td>
				<%end%>

				<td>¥<%= ((item.product.tax_excluded_price)*(item.quantity)* (1.10)).floor%></td>
				<%@sum += ((item.product.tax_excluded_price)*(item.quantity)* (1.10)).floor%>
				<div >
				<td ><%= link_to "削除", "/end_users/cart_items/#{item.id}",class: "btn btn-danger", method: :delete, remote: true%></td>
				</div>
				<%end%>
			</tr>
		</tbody>
		</table>
		<div class="col-xs-3 col-xs-offset-9">
		<table class="table table-bordered">
			<thead>
				<tr >
					<th class="active">合計金額</th>　<th><%= @sum%></th>
				</tr>
			</thead>
		</table>