
	<div class="row">
		<div class ="col-xs-10 col-xs-offset-1">
		<h1>ショッピングカート</h1>
		<p class= "btn btn-danger col-xs-2 col-xs-offset-10">
			<%=link_to "カートを空にする",destroy_all_path,class: "btn btn-danger", method: :delete %>
		</p>
	
	<table class="table table-bordered">
		<thead >
			<tr class="active">
				<th>商品名</th>
				<th>単価（税込）</th>
				<th>数量</th>
				<th>小計</th>
				<th></th>
			</tr>
		</thead>
		<div >
		<%=render"index", cart_items: @cart_items %>
	</div>
	</table>
		<div class="col-xs-3 col-xs-offset-9">
		<table class="table table-bordered">
			<thead>
				<tr >
					<th class="active">合計金額</th>　<th><%= @sum%></th>
				</tr>
			</thead>
		</table>
		</div>
		<div class="btn btn-primary col-xs-2" >
			<%=link_to "買い物を続ける","#",onClick:"history.go(-2); return false;",class: "font"%>
		</div>
		<div class ="btn btn-success col-xs-3 col-xs-offset-2">
			<%= link_to "情報入力に進む","/end_users/orders/new", class: "font" %>
		</div>
	</div>
</div>
