<!DOCTYPE html>
<html>

<head>
  <title>NaganoCake</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <% if current_end_user %>
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-1">
          <p>CopyRight ちょもらんま.inc</p>
        </div>
      </div>
    </div>
    <% end %>
  </footer>
</body>

</html>