<!DOCTYPE html>
<html>

<head>
  <title>NaganoCake</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="navbar navbar-fixed-top navbar-inverse" style="background-color:#000000;">
    <nav class="nav navbar-nav navbar-left">
      <div class="logo">
        <%= link_to root_path do %>
        <%= image_tag 'logo_black-2.jpg', :size => '280x60' %>
        <% end %>
      </div>
    </nav>

  <%= render 'layouts/header'  %>

  <div class="container" style="margin-top: 150px;">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>

</body>

</html>
